
/* Початок стандарного блоку CSS для скидання відступів і іншого */

/* Обнулення */
/* before - раніше */
/* after - після */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
 
ul,
ol,
li {
  list-style: none;
}

/* вирівнювання картинка по вертикалі */
img {
  vertical-align: top;
}

/* успадкувати ширину та розмір шрифта */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*________________кінець стандартного шаблону CSS______________________*/
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #9C9C9C;
  background-color: #1E1E1E;
  font-weight: 300;
  font-family: "Poppins";
}
.wrapper { 
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip; /*використовують тоді, коли потрібно відрізати зайвий контент, 
  але при цьому залишити його видимим на межах елемента.*/
}

[class*="__container"] { /*Селектор який буде звертатись до всіх класів де є __container*/
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}
/*________________Button____________________*/

.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  font-weight: 500;
  font-size: 14px; 
  line-height: 1.43; /* 22/14 */
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #3D96F4;
  transition:  background-color 0.5s ease 0s;
  border-radius: 50px;
  text-align: center;
}
.button:hover{
  background-color: #7bb6f5;
}
@media (max-width: 829.98px) {
  .button{
    padding: 14px 20px; 
  }
}


/*_________________PAGE______________________*/

.page {
  flex: 1 1 auto; /*Дозволяє розтягуватись на всю вистоту*/
}

/*_______________HEADER____________________*/

.header__container {
  display: flex;
  align-items: center;
  column-gap: 35px;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.header__logo {

}
.header__menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  
}
.menu { 
  
}
.menu__icon {

}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 3px; /*застосує відстань 3 пікселі між рядками всередині контейнера*/
  column-gap: 35px;
  font-size: 16px;
}
.menu__item {
}
.menu__link {
  display: block; 
  color: #FFFFFF;
  font-weight: 300;
  
  line-height: 1.62; /* 26/16 */
}
.menu__link:hover {
  text-decoration: underline;
}
.header__cart {
  display: flex;
  align-items: center;
  gap: 5px; /*задає відстань між елементами, яка включає відстань між блоками, 
  рядками та колонками*/
  color: #FFFFFF; 
}
.cart-header {
}
.cart-header:hover .cart-header__text {
  text-decoration: underline;
}
.cart-header__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  line-height: 1px;
}

.cart-header__quantity {
  height: 30px;
  width: 30px;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1; /* 14/14 */
}
.header__button {
  flex: 0 0 auto;
}

@media (max-width: 855.98px) {
  .menu__link,
   .menu__list,
   .header__container {
    font-size: 14px;
    column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}
.icon-menu {
  display: none;
}

.header__button,
.header__logo,
.header__cart {
  position: relative;
  z-index: 5;
}

/*________________BURGER___________________________*/

@media (max-width: 767.98px) {
  .icon-menu  {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative; 
    z-index: 5; 
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg); 
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg); 
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    left: -100%; /*меню заховати на ліво*/
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto; /*Дозволяє з'являтися скролу*/
    transition: left 0.3s ease 0s; /*повільне*/
  }
  .menu__body::before { /*цей блок робить чорну підкладку на всю висоту шапки*/
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #000000;
    z-index: 2;
  }
  
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }
  .menu__link {
    font-size: 24px;
  }
  .header__container {
    min-height: 70px;
  }
  .menu__link,
   .menu__list,
   .header__container {
    column-gap: 5px;
  }

}
.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0; /*Коли через скріпт зявився клас .menu-open,  то повертаємо left 0 ( бо він -100)*/
  }


@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    overflow: hidden; /*приховати все, що виходить за межі елемента*/
  }
  .cart-header__text {
    font-size: 14px;
  }
}



/*________________END_BURGER___________________________*/